<header class="site-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 d-flex flex-wrap">
                <p class="d-flex me-4 mb-0">
                    <i class="bi-geo-alt me-2"></i>
                    San Luis Rio Colorado, Sonora. 16 de septiembre calle 2 y 3
                </p>

                <p class="d-flex mb-0">
                    <i class="bi-envelope me-2"></i>

                    <a href="mailto:adara@gmail.com">
                        adara@gmail.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                <ul class="social-icon">

                    <li class="social-icon-item">
                        <a href="" class="social-icon-link bi-facebook"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="" class="social-icon-link bi-whatsapp"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="../../../assets/images/logo.png" class="logo img-fluid" alt="Kind Heart Charity">
            <span style="font-size: large;">
                Consultorio Dental Adara
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="home#top">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="home#servicios">Servicios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="home#nosotros">Sobre nosotros</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="home#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <section class="hero-section hero-section-full-height">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12 col-12 p-0">
                    <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/images/slide/1.jpg" class="carousel-image img-fluid" alt="...">

                                <div class="carousel-caption d-flex flex-column justify-content-end">
                                    <h1>Adara</h1>

                                    <p>Una sonrisa perfecta comienza aquí.</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="./../../assets/images/slide/2.jpg" class="carousel-image img-fluid" alt="...">

                                <div class="carousel-caption d-flex flex-column justify-content-end">
                                    <h1>Adara</h1>

                                    <p>Brindando razones para sonreír todos los días.</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="./../../assets/images/slide/4.png" class="carousel-image img-fluid" alt="...">

                                <div class="carousel-caption d-flex flex-column justify-content-end">
                                    <h1>Adara</h1>

                                    <p>Cuidando cada detalle de tu sonrisa.</p>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#hero-slide"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-padding section-bg" id="servicios">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12 text-center mx-auto">
                    <h2 class="mb-5">Servicios</h2>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a class="d-block">
                            <img src="../../../assets/images/servicios/Coronas_dentales.png"
                                class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text"><strong>Coronas dentales</strong></p>
                            <p class="d-flex mb-2" style="text-align: justify;">
                                Son fundas protectoras que se colocan sobre dientes debilitados o
                                dañados. Proporcionan fuerza, protección y mejora estética,
                                restaurando la forma y función del diente.
                            </p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a class="d-block">
                            <img src="../../../assets/images/servicios/Limpieza_dental.png"
                                class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text"><strong>Empaste dental</strong></p>
                            <p class="d-flex mb-2" style="text-align: justify;">
                                Implica eliminar el tejido dañado por caries y rellenar el espacio
                                con un material restaurativo, como composite o amalgama, para
                                restaurar la función y apariencia del diente.
                            </p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a class="d-block">
                            <img src="../../../assets/images/servicios/Implantes_dentales.png"
                                class="featured-block-image img-fluid" alt="">
                            <p class="featured-block-text"><strong>Implantes dentales</strong></p>
                            <p class="d-flex mb-2" style="text-align: justify;">
                                Son raíces dentales artificiales que se insertan en el hueso
                                maxilar o mandibular para reemplazar dientes perdidos. Sobre
                                ellos se coloca una corona o prótesis dental.
                            </p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a class="d-block">
                            <img src="../../../assets/images/servicios/Empaste_dental.png"
                                class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text"><strong>Limpieza dental</strong></p>
                            <p class="d-flex mb-2" style="text-align: justify;">
                                Implica la eliminación de placa bacteriana, sarro y manchas de
                                la superficie de los dientes. Esto ayuda a prevenir enfermedades
                                periodontales y a mantener una sonrisa más saludable.
                            </p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-padding section-bg" id="nosotros">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-12 text-center mx-auto">
                    <h2 class="mb-5">Sobre nosotros</h2>
                </div>
                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <img src="./../../assets/images/slide/3.jpg" class="custom-text-box-image img-fluid" alt="">
                </div>

                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h2 class="mb-2">Adara</h2>

                        <h5 class="mb-3">Consultorio Dental</h5>

                        <p class="mb-0" style="text-align: justify;">El consultorio dental Adara se enorgullece de su
                            amplia trayectoria de
                            aproximadamente 10 años como un negocio familiar. Este exitoso emprendimiento es liderado
                            por el Dr. David Adame, un reconocido cirujano dentista con una especialidad destacada en
                            Implantología Oral. A su lado, se encuentra su hija, la Dra. Paulina Adame, una talentosa
                            cirujana dentista que tiene grandes planes de especializarse en Ortodoncia. La pasión por la
                            odontología le fue inculcada a Paulina desde temprana edad, ya que comenzó a ayudar a su
                            padre en el consultorio, desempeñándose inicialmente en labores de limpieza y como
                            recepcionista. <br> <br>El consultorio dental Adara no sería lo mismo sin el valioso aporte
                            de
                            María Guadalupe Rosas quien se encarga de la recepción y la limpieza, asegurando que los
                            pacientes sean recibidos con una cálida bienvenida y que el entorno siempre este impecable.
                            Su dedicación y compromiso contribuyen significativamente al funcionamiento fluido y exitoso
                            del consultorio.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="contact-section section-padding" id="contacto">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                    <div class="contact-info-wrap">
                        <h2>Contactos</h2>

                        <div class="contact-image-wrap d-flex flex-wrap">
                            <img src="./../../assets/images/dra.png" class="img-fluid avatar-image" alt="">

                            <div class="d-flex flex-column justify-content-center ms-3">
                                <p class="mb-0">Elim Adame </p>
                            </div>
                        </div>

                        <div class="contact-info">
                            <h5 class="mb-3">Información de contacto</h5>

                            <p class="d-flex mb-2">
                                <i class="bi-geo-alt me-2"></i>
                                San Luis Rio Colorado, Sonora. 16 de septiembre calle 2 y 3
                            </p>

                            <p class="d-flex mb-2">
                                <i class="bi-telephone me-2"></i>

                                <a href="tel: 653-518-3854">
                                    653-518-3854
                                </a>
                            </p>

                            <p class="d-flex">
                                <i class="bi-envelope me-2"></i>

                                <a href="mailto:adara@gmail.com">
                                    adara@gmail.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-12 mx-auto">
                    <form class="custom-form contact-form" action="#" method="post" role="form">
                        <h2>Formulario de contacto</h2>

                        <p class="mb-4">O simplemente puede enviar un correo:
                            <a href="mailto:adara@gmail.com">adara@gmail.com</a>
                        </p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" name="first-name" id="first-name" class="form-control"
                                    placeholder="Jose" required>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" name="last-name" id="last-name" class="form-control"
                                    placeholder="Gutierrez" required>
                            </div>
                        </div>

                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                            placeholder="josegutierrez@gmail.com" required>

                        <textarea name="message" rows="5" class="form-control" id="message"
                            placeholder="¿En qué podemos ayudarte?"></textarea>

                        <button type="submit" class="form-control">Enviar mensaje</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
</main>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-4 navbar-brand">
                <img src="../../../assets/images/logo.png" class="logo img-fluid" alt="">
                <span>
                    Consultorio Dental Adara
                </span>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4">
            </div>

            <div class="col-lg-4 col-md-6 col-12 mx-auto">

                <h5 class="site-footer-title mb-3">Información de contacto</h5>

                <p class="d-flex mb-2 text-white">
                    <i class="bi-geo-alt me-2"></i>
                    San Luis Rio Colorado, Sonora. 16 de septiembre calle 2 y 3
                </p>

                <p class="text-white d-flex mb-2">
                    <i class="bi-telephone me-2"></i>

                    <a href="tel:653-518-3854" class="site-footer-link">
                        653-518-3854
                    </a>
                </p>

                <p class="text-white d-flex">
                    <i class="bi-envelope me-2"></i>

                    <a href="mailto:adara@gmail.com" class="site-footer-link">
                        adara@gmail.com
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>