<div class="bodyLogin">
    <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        San Luis Rio Colorado, Sonora. 16 de septiembre calle 2 y 3
                    </p>

                    <p class="d-flex mb-0">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:adara@gmail.com">
                            adara@gmail.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                    <ul class="social-icon">

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="../../../assets/images/logo.png" class="logo img-fluid" alt="Kind Heart Charity">
                <span style="font-size: large;">
                    Consultorio Dental Adara
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="home#top">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="home#servicios">Servicios</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="home#nosotros">Sobre nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="home#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <section class="donate-section">
            <div class="section-overlay"></div>
            <div class="container" style="margin-top: 7px;">
                <div class="row">

                    <div class="col-lg-6 col-12 mx-auto">
                        <form class="custom-form donate-form" action="#" method="get" role="form">
                            <h3 class="mb-4">Iniciar sesión</h3>

                            <div class="row">

                                <div class="col-lg-6 col-12 mt-2">
                                    <input type="email" name="donation-name" id="donation-name" class="form-control"
                                        placeholder="correo" required>
                                </div>

                                <div class="col-lg-6 col-12 mt-2">
                                    <input type="password" name="donation-email" id="donation-email"
                                        class="form-control" placeholder="contraseña" required>
                                </div>

                                <div class="col-lg-12 col-12 mt-2">

                                    <button type="submit" class="form-control mt-4">Iniciar sesión</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4 navbar-brand">
                    <img src="../../../assets/images/logo.png" class="logo img-fluid" alt="">
                    <span>
                        Consultorio Dental Adara
                    </span>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                </div>

                <div class="col-lg-4 col-md-6 col-12 mx-auto">

                    <h5 class="site-footer-title mb-3">Información de contacto</h5>

                    <p class="d-flex mb-2 text-white">
                        <i class="bi-geo-alt me-2"></i>
                        San Luis Rio Colorado, Sonora. 16 de septiembre calle 2 y 3
                    </p>

                    <p class="text-white d-flex mb-2">
                        <i class="bi-telephone me-2"></i>

                        <a href="tel:653-518-3854" class="site-footer-link">
                            653-518-3854
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:adara@gmail.com" class="site-footer-link">
                            adara@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>